RewriteEngine On

RewriteRule ^/?language?(.*)$ index.php?service=language&$1 [L,QSA]
RewriteRule ^/?profile?(.*)$ index.php?service=profile&$1 [L,QSA]
RewriteRule ^/?access_tokens?(.*)$ index.php?service=access_tokens&$1 [L,QSA]
RewriteRule ^/?authorization_codes?(.*)$ index.php?service=authorization_codes&$1 [L,QSA]
RewriteRule ^/?clients?(.*)$ index.php?service=clients&$1 [L,QSA]
RewriteRule ^/?jwt?(.*)$ index.php?service=jwt&$1 [L,QSA]
RewriteRule ^/?refresh_tokens?(.*)$ index.php?service=refresh_tokens&$1 [L,QSA]
RewriteRule ^/?scopes?(.*)$ index.php?service=scopes&$1 [L,QSA]
RewriteRule ^/?user?(.*)$ index.php?service=user&$1 [L,QSA]
RewriteRule ^/?account?(.*)$ index.php?service=account&$1 [L,QSA]
RewriteRule ^/?login?(.*)$ index.php?service=login&$1 [L,QSA]
RewriteRule ^/?logout?(.*)$ index.php?service=logout&$1 [L,QSA]
